@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.tables-container {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    .expenses-display {
      @include table-display;
      flex-grow: 1;
      
      .expense-header th {
        @include table-header;
        background: $expBg;    
      }   
        
      .expense-footer {
        background: $expBg;
        font-weight: bold;
      }
    
    }
    
    .incomes-display {
      @include table-display;    
      flex-grow: 1;

      .income-header th {
        @include table-header;
        background: $incBg;
      }
      
      .income-footer {
        background: $incBg;
        font-weight: bold;
      }
    }

    

    button {
      @include button;
      padding: 0.3em;   
    }
}
  

  


  



  

  