
.tables-container {
  margin-top: 3%;
}
  .expenses-display {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 45%;
    float: left;
    margin-left: 3%;
  }

  .incomes-display {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 45%;
    float: left;
    margin-left: 3%;
  }



  .exp-header {
    background: #FF5049;
    text-align: left;
    padding: 8px;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f3f3f3;
  }

  .exp-foot {
    background: #FF5049;
  }

  

  .inc-header {
    background: #05e383;
    text-align: left;
    padding: 8px;
  }

  .inc-foot {
    background: #05e383;
  }

  .updates {
    text-align: center;
  }

  