@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.tables-container {
    margin-top: 3%;
    
  .expenses-display {
    @include table-display;
  }
  
  .incomes-display {
    @include table-display;
  }
}
  

  
.exp-header th {
  @include table-header;
  background: $expBg;    
}
  
  
.exp-foot {
  background: $expBg;
}

  

.inc-header th {
  @include table-header;
  background: $incBg;
}

.inc-foot {
  background: $incBg;
}

  

  