.incomes--display {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 45%;
    float: right;
    margin-right: 3%;
  }

  .inc--header {
    background: #05e383;
    text-align: left;
    padding: 8px;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }