@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';
@import '../../scss/extends.scss';

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;  
    
    &Actions {
        display: flex;
        justify-content: flex-end;
        padding: 0.8em 0;
    }
}

input {
    @extend %input-fields;      
}

// .operationsForm {
//     display: flex;
//     justify-content: flex-start;
//     flex-wrap: wrap;    

//     @include mQ(1920px){
//         width: 100%;
//     }    
    
    

//     select {
//         @extend %input-fields;
//     }

//     // button {
//     //     @extend %button;
//     // }
// }

 

