.modalOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 0;
    left: 0;
    //transform: translate(-50%, -50%);    
    background: #494a4a80;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBody {
    width: 30%;
    background: white;
    padding: 1em;
    z-index: 1;
    opacity: 1;
}