@import '../../scss/variables.scss';

.ops-form {
    padding: 5px;
    margin-left: 3%;
    

    input {
        margin: 4px;
        padding: 3px;
        font-size: 1em;
        border: 1px solid $inputBorders;
        border-radius: 4px;
        
    }

    select {
        font-size: 1em;
        padding: 3px;
        border: 1px solid $inputBorders;
        border-radius: 4px;
    }
}

button {
    border-radius: 6px;
    border-style: none;
    font-size: 1em;
    padding: 0.5em;
    margin: 4px;
    background: $btnBg; 
    color: $btnText;   
}

.buttons-exp {
   background: $expBg;
   color: $btnText;
}
  
.buttons-inc {
    background: $incBg;
    color: $btnText;
    
  }