@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.operations-form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 56%;    
    margin: 1% 3%;    
    padding: 5px;

    .operation-type {
        align-self: center;
    }
    
    input {
        @include input-fields;        
    }

    select {
        @include input-fields;
    }

    button {
        @include button;
    }
    
    .expense-btn {
        background: $expBg;
        color: $btnText;
     }
       
     .income-btn {
         background: $incBg;
         color: $btnText;    
       }
}

 

