.input--fields, .search--month {
    max-width: 90%;
    margin-left: 3%;
    margin-top: 3%;
}

.tables {
    margin-top: 3%;
}

.inc-button {
    float: right;
    display: inline;
}


.ops-form {
    padding: 5px;

    button {
        margin: 2px;
        border-radius: 6px;
    }

    input {
        margin: 4px;
        padding: 3px;
    }
}
 