@import './variables.scss';

%table-display {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 3%;
    td {    
        text-align: center;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #f3f3f3;
      }
}

%table-header {
    text-align: center;
    padding: 8px;
}

%header-totals {
  display: flex;
  justify-content: space-between;
  font-family: arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  width: 25%;  
  padding: 0.6%;
  margin: 0.5%;
}

%input-fields {
  width: 100%;
  //margin: 4px;
  padding: 3px;
  font-size: 1em;
  border: 1px solid $inputBorders;
  border-radius: 4px;      
}

%button {
        border-radius: 6px;
        border-style: none;
        font-size: 1em;
        padding: 0.5em;
        margin: 4px;
        background: $btnBg; 
        color: $btnText;   
}